@{
    ViewData["Title"] = "Авторизация";
}

<div class="text-start">

    <form action="/auth/" method="post">

        <div class="mb-3">
            <label for="login" class="form-label">Логин</label>
            <input type="text" name="login" class="form-control" id="login">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="text" name="password" class="form-control" id="password">
        </div>


        <button class=" btn btn-primary">Авторизоваться</button>

        <a href="/" class="btn btn-primary">Домой</a>
    </form>

</div>